<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Imobiliária</title>

    <!-- Custom fonts for this template-->
    <link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"> Dados do Imóvel</h1>
            </div>

            <div class="row">

                <!-- Earnings (Monthly) Card Example -->

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Características Gerais</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{imovel.tipoImovel }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{imovel.caracteristicas }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{imovel.observacao}}</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Localização</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Logradoura: {{ imovel.endereco.logradouro }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Bairro: {{imovel.endereco.bairro }}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Numero: {{imovel.endereco.numero}}</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">Cidade: {{imovel.endereco.cidade}} Estado: {{imovel.endereco.uf}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    </div>
            <!--Google map-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51570.20742217889!2d-34.88346670023535!3d-7.144705665702799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace839019aa3d7%3A0x6e414a9c6d26db34!2sJo%C3%A3o+Pessoa%2C+PB%2C+Brasil!5e1!3m2!1spt-BR!2sus!4v1559516614028!5m2!1spt-BR!2sus" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
        <a href="/imovel/portifolios">
            Voltar
        </a>

{#</div>#}

{% include "footer.html.twig" %}