{% include "base.html.twig" %}

{#{% for flashMessage in app.session.flashbag.get('error') %}#}

{#    {{ flashMessage }}#}

{#{% endfor %}#}

<!-- Custom fonts for this template-->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">
<link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<head>

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<!-- Begin Page Content -->
<div class="container-fluid">
        <!-- DataTales Example -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <div class="card shadow mb-4">
                <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de Clientes</h6>
                </div>
                <div class="card-body">
{#                        <div class="table-responsive">#}
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                                <th>Nome</th>
                                                <th>CpfCnpj</th>
                                                <th>E-mail</th>
                                                <th>Sexo</th>
                                                <th>Data Cadastro</th>
                                                <th>Editar/Deletar</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                                <th>Nome</th>
                                                <th>CpfCnpj</th>
                                                <th>E-mail</th>
                                                <th>Sexo</th>
                                                <th>Data Cadastro</th>
                                                <th>Editar/Deletar</th>
                                        </tr>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                         {% for usuario in usuarios %}
                                         <tr role="row" class="even">
                                                <td class="sorting_1">{{ usuario.nome }}</td>
                                                <td>{{ usuario.cpfCnpj }}</td>
                                                <td>{{ usuario.email }}</td>
                                                <td>{{ usuario.sexo }}</td>
                                                <td>{{ usuario.dtCadastro|date("m/d/Y") }}</td>
                                                <td><a href="{{ path('editar_usuario', { 'id': usuario.id}) }}" class="btn btn-success btn-circle btn-sm">
                                                                <i class="fas fa-check"></i>
                                                    </a>
                                                    <a href="{{ path('deletar_usuario', { 'id': usuario.id}) }}" class="btn btn-danger btn-circle btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                </table>
{#                        </div>#}
                </div>
        </div>

        </div>
</div>

{#</div>#}


<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../js/demo/datatables-demo.js"></script>

</body>

</html>

<!-- End of Main Content -->

{#{% include "footer.html.twig" %}#}









